GOOGLE_SERVICE_ACCOUNT_KEY=./credentials.json
SPREADSHEET_ID=
JWT_SECRET=cambiar_este_secreto_en_produccion
PORT=3001

# Passwords — cambiar en producción
PASSWORD_SUPERADMIN=
PASSWORD_ADMIN=
PASSWORD_EMPLEADO=
