GOOGLE_SERVICE_ACCOUNT_KEY=./credentials.json
SPREADSHEET_ID=1ijCN27RaLLYUG0a6hEYwwC9rQJKrYV_KdsBEGAHULgY
JWT_SECRET=cambiar_este_secreto_en_produccion
PORT=3001

# Passwords (cambiar en producción)
PASSWORD_ANITA=anita123
PASSWORD_MARIANA=mariana123
PASSWORD_FABIO=fabio123
